* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.header {
    flex: 0 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer {
    flex: 0 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
